body{
	margin:0;
	font-family:arial, sans-serif;
	width:100%;
	height:100%;
	padding:0;
}

.grid-container{
	display:grid;
	height:100vh;
	grid-template-columns: auto auto auto;
	grid-template-rows: 40px auto 40px 40px;
	grid-template-areas: 
    ". . navigate"
    "main main main"
	"country country country"
    "footer footer footer";
}

nav{
	grid-area:navigate;
	justify-self:end;
	align-self:end;
}

nav a{
	color: rgba(0,0,0,0.87);
	font-size:13px;
	text-decoration:none;
	padding-right:15px;
	line-height:24px;
}

nav a:hover {
	text-decoration: underline;
	color:#424242;
}

.fa-th{
	color:#5F6368;
	padding-right:15px;
}

.fa-th:hover{
	color:#424242;
}

#log_in{
	background-image: linear-gradient(#4387fd, #4683ea);
	margin-right:25px;
	padding:7px 14px;
	border-radius:2px; 
	font-weight:bold;
	color:#fff;
	font-size:13px;
	text-decoration:none;
	border: 1px solid #4285f4;
}

section{
	grid-area:main;
}

.google-img {
	text-align: center;
	margin: 0 auto;
	clear: both;
	padding-top: 150px;
	padding-bottom: 15px;
}

.form{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

.form_flex {
	text-align: center;
	display:flex;
	border-radius:25px;
	border:1px solid #DFE1E5;
	width: 480px;
	padding:5px 20px;
}

#search_form{ 
	display:flex;
	border:0;
	line-height: 35px;
	font-size:16px;
	padding-left:15px;
	padding-right:15px;
	flex:6;
	outline:0;
}

#vueApp {
  color: #2c3e50;
  display:flex;
  flex:6;
}

#completer{
	display:flex;
	flex:6;
}

#ac{
	display:flex;
	flex:6;
	flex-direction:column;
}

.autocomplete-results {
	border-top:1px solid #DFE1E5;
	min-height:20px;
	overflow:hidden;
	padding-left:15px;
	padding-right:15px;

}

.autocomplete-results ul{
	padding:0;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  color: black;
}

.form_flex:hover{
	box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.form_flex:focus{
	box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.fas{
	padding-top:10px;
}

.fa-search{
	color:#4285F4;
	display:flex;
	align-self:baseline;
	flex:0.5;
}

.fa-keyboard{
	color:#7B7B7B;
	display:flex;
	align-self:baseline;
	flex:0.5;
}

.fa-microphone{
	color:#4285F4;
	display:flex;
	align-self:baseline;
	flex:0.5;
	position:relative;
}

.buttons {
	text-align: center;
	padding-top: 30px;
}

.mdc-button__label{
	color: #6F6F6F;
	font-size:20px;
	font-family:arial, sans-serif;
	font-size:14px;
	text-transform: capitalize;
	letter-spacing:0;
}

.country{
	height:40px;
	line-height:35px;
	grid-area:country;
	background-color: #F2F2F2;
	border-top: solid 1px #E4E4E4;
}

.country p{
	color:#6F6F6F;
	font-size:15px;
	padding-left:27px;
	margin:0;
}

footer{
	background-color: #F2F2F2;
	border-top: solid 1px #E4E4E4;
	line-height:35px;
	grid-area:footer;
}

footer a:hover {
	text-decoration: underline;
}

.left{
	padding-left:27px;
}

.left a{
	color:#6F6F6F;
	text-decoration:none;
	font-size: 13px;
	padding-right:15px;
}

.right{
	float:right;
	padding-right:27px;
	text-decoration:none;
}

.right a{
	color:#6F6F6F;
	text-decoration:none;
	font-size: 13px;
	padding-left:15px;
}